* {
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: wheat;
}

body {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
